{% extends 'base.html' %}

{% block content %}
  <h1>INDEX</h1>
  {% if request.user.is_authenticated %}
    <a href="{% url 'movies:create' %}">[CREATE]</a>
  {% else %}
    <a href="{% url 'accounts:login' %}">[CREATE]</a>
  {% endif %}
  
  <hr>
  {% for movie in movies %}
    <h5><strong>title : {{ movie.title }}</strong></h5>
    <br>
    <p>작성자 : <a href="{% url 'accounts:profile' movie.user %}">{{movie.user}}</a>님의 프로필로 이동</p>
    <p>이 글의 <a href="{% url 'movies:detail' movie.pk %}">detail</a>로 넘어가기</p>
    {% if request.user.is_authenticated %}
      <div class="container">
        <div class="row">
          <div class="col-1">
          <form action="{% url 'movies:likes' movie.pk %}" method="POST">
            {% csrf_token %}
            
            {% if request.user in movie.like_users.all %}
              <button class="fa-solid fa-heart" style="color: #f31b67"></button>
            {% else %}
              <button class="fa-regular fa-heart" style="color: #f31b67"></button>
            {% endif %}
          </form>
        </div>
          <div class="col">
            <form action="{% url 'movies:hate' movie.pk %}" method="POST">
                {% csrf_token %}
              {% if request.user in movie.hate_users.all %}
                <button class="fa-solid fa-thumbs-down" style="color: #005eff;"></button>
              {% else %}
                <button class="fa-regular fa-thumbs-down" style="color: #005eff"></button>
              {% endif %}
            </form>
          </div>
        </div>
      </div>
    {% endif %}
    <hr>
  {% endfor %}
{% endblock %}
