{% extends 'base.html' %}

{% block content %}
<br>
{% for p in page1 %}
{% if p.0 == 1 %}
<h1><strong>{{p.5}} 영화 추천</strong></h1>
<hr><br>
{% endif %}

    <h3><strong>{{p.0}}. {{p.1}}</strong></h3>
    <img src="{{p.4}}" alt="" style="width:50%">
    <br> <br>
    <ul>
        <li><p style="font-size: 30px;"><strong>평점 :</strong> {{p.2}}</p></li>
        <li><p style="font-size: 30px;"><strong>장르 : </strong>{{p.5}}</p></li>
        <li><p><a href="{% url 'movies:detail' p.3 %}">상세보기</a></p></li>
    </ul>
    <br><hr>

{% endfor %}

<br>
<a href="{% url 'movies:index' %}">[목록으로]</a> 
<a href="{% url 'movies:genre_list' %}">[뒤로가기]</a>
<br><br>
{% endblock %}
