{% extends 'base.html' %}

{% block content %}
<br>
<h1><strong>영화 추천</strong></h1>
<br><hr>

{% for p in page1 %}
    <h3><strong>{{p.0}}. {{p.1}}</strong></h3>
    <img src="{{p.4}}" alt="" style="width:50%">
    <br> <br>
    <ul>
        <li><p style="font-size: 30px;"><strong>평점 : </strong>{{p.2}}</p></li>
        <li><p><a href="{% url 'movies:detail' p.3 %}">상세보기</a></p></li>
    </ul>
    <br><hr>
    
        
{% endfor %}

<br>
<a href="{% url 'movies:index' %}">[목록으로]</a> 
<br><br>
{% endblock %}
