{% extends 'base.html' %}

{% block content %}
    <h1><strong>{{ user }}님의 프로필</strong></h1> 
    <hr>

    <h2><strong>{{ user }}'s 게시글</strong></h2>
    {% for article in articles %}
        <p>{{article.title}}</p>
        <hr>

        <h2><strong>{{ user }}'s 좋아요한 게시글</strong></h2>
        {% if request.user in article.like_users.all %}
            <p>{{article.title}}</p>
        {% endif%}
        <hr>
    {% endfor %}

    <a href="{% url 'articles:index' %}">back</a>
{% endblock content %}